<%- include('header', {title, active: 'courses'}); -%>

<main class="container-fluid mt-3">
    <div class="row">
        <div class="col-8 mx-auto">
          <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Codice</th>
                    <th>Nome</th>
                    <th>Crediti</th>
                </tr>
            </thead>
            <tbody>
              <% courses.forEach((course) => { %>
                <%- include('course-partial', {course}); -%>
              <% }); %>
            </tbody>
          </table>
        </div>
    </div>
</main>

<%- include('footer'); -%>